PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:5432/project_sig?sslmode=disable
JWT_SECRET=supersecretkey
MODE=development
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
DEFAULT_AVATAR_URL=https://ui-avatars.com/api/?background=E5E7EB&color=9CA3AF&name=Guest
